.window
{
    border:10px solid #4f4f4f;
    padding:16px;
    position: absolute;
    background-color: #c6c6c6;
    width: 500px;
    color: #686565;
}

.close_button
{
    cursor: pointer;
    width: 20px;
    position: absolute;
}

.hotbar_item
{
    cursor: pointer;
    position: absolute;
}

.header
{
    cursor: grab;
    background-color: #898989;
    position: absolute;
    width: 532px;
    height:30px;
    top:0%; 
    right:0%;
}